:root {
    --background-color: #999999;
    --white-color: #ffffff;
    --text-color: #333333;
    --primary-color: #0073e6;
    --secondary-color: #005bb5;
    --lightgray-color: #bbb1a1;
    --darkgray-color: #333;
}